.aboutContainer {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;

    .jaredAbout {
        width: 80%;
        margin: 5vh 10%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid rgb(207, 35, 35);
        max-width: 300px;
        

        h1 {
        }
        h3 {
        }
        img {
            height: 200px;
        }
        h4 {
            padding: 12px;
        }
        h5 {

        }
    }

    .jamesAbout {
        width: 80%;
        margin: 5vh 10%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid rgb(207, 35, 35);
        max-width: 300px;
        

        h1 {
        }
        h3 {
        }
        img {
            height: 200px;
        }
        h4 {
            padding: 12px;

            a {
                color: black;
            }
        }
        h5 {
            
        }
    }

    .micahAbout {
        width: 80%;
        margin: 5vh 10%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid rgb(207, 35, 35);
        max-width: 300px;
        

        h1 {
        }
        h3 {
        }
        img {
            height: 200px;
        }
        h4 {
            padding: 12px;
        }
        h5 {
            
        }
    }
}

@media (min-width: 1000px) {
    .aboutContainer {
        flex-direction: row;
        justify-content: space-around;
        .jaredAbout {
            margin: 5vh 0;
            height: 520px;
        }
        .jamesAbout {
            margin: 5vh 0;
            height: 520px;
        }
        .micahAbout {
            margin: 5vh 0;
            height: 520px;
        }
    }
}
