body {
    height: auto;
    min-height: 120vh;
}

.link-element {
    text-decoration: none;
    color: black;
    transition: .3s ease-in-out;
}

.home-box {
    width: 80vw;
    margin: 5vh auto;
    height: 40vh;
    border: gray solid 1px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-inner-box {
        height: 100%;
        width: 100%; 
        border-radius: 10%;
        transition: .3s ease-in-out;

        .image-link {
            height: 80%;
            width: 100%;
            
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-top-left-radius: 10%;
                border-top-right-radius: 10%;
            }
        }

        .mob-title {
            margin: 10px 10% 0;
            text-align: center;
            h3 {
                
            }
        }
    }

    .home-inner-box:hover {
        background-color: rgb(207, 35, 35);
        color: white;
        .link-element {
            color: white;
        }
    }
}

@media (min-width: 420px) {
    .home-box {
        width: 70vw;
    }
}

@media (min-width: 560px) {
    .home-box {
        width: 55vw;
    }
}

@media (min-width: 650px) {
    .home-box {
        width: 47vw;
    }
}

@media (min-width: 750px) {
    .home-box {
        width: 40vw;
    }
}

@media (min-width: 950px) {
    .home-box {
        width: 40vw;
        height: 50vh;
    }
}


@media (min-width: 1050px) {

    main {
        display: flex;
        flex-wrap: wrap;
    }
    .home-box {
        width: 35vw;
        height: 50vh;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 1200px) {
    .home-box {
        width: 30vw;
        height: 50vh;
    }
}