.show-box {
    .inner-show-box {
        width: 85vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .recipe-title-box{
            width: 85vw;
            margin: 5vh auto;
            text-align: center;
            color: white;
            background-color: rgb(207, 35, 35);

            h1 {
            }
        }

        .image-box {
            width: 85vw;
            max-height: 40vh;

            img {
                height: 40vh;
                object-fit: cover;
                width: 100%;
                border-radius: 5%;
            }
        }

        .description-box {
            width: 85vw;
            margin: 5vh auto 1vh;
            h2 {
                font-size: 20px;
            }
        }
        button {
            width: 30vw;
            background-color: white;
            color: rgb(207, 35, 35);
            transition: .3s ease-in-out;
            height: 40px;
            border: rgb(207, 35, 35) solid 1px;
            font-size: 20px;
            border-radius: 10px;
            margin: 5vh 0;
            cursor: pointer;
            max-width: 160px;
        }

        button:hover {
            background-color: rgb(207, 35, 35);
            color: white;
            cursor: pointer;
        }
    }
}

.loading-box {
    margin-top: 30vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading-animation {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        border-top: 10px solid rgb(207, 35, 35);
        border-bottom: 10px solid rgb(207, 35, 35);
        border-right: 10px solid white;
        border-left: 10px solid white;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg) }
        100% { transform: rotate(360deg) }
    }
}

@media (min-width: 500px) {
    .show-box{
        .inner-show-box{
            width: 70vw;
            .image-box {
                width: 100%;
            }
            .recipe-title-box {
                width: 100%;
            }
            .description-box {
                width: 100%;
            }
        }
    }
}

@media (min-width: 700px) {
    .show-box{
        .inner-show-box{
            width: 60vw;
        }
    }
}

@media (min-width: 700px) {
    .show-box{
        .inner-show-box{
            width: 50vw;
        }
    }
}

@media (min-width: 950px) {
    .show-box{
        .inner-show-box{
            width: 50vw;
        }
    }
}

@media (min-width: 1040px) {
    .show-box {
        margin: 0 auto;
        .inner-show-box {
            max-width: 520px;
        }
    }
}
