//MOBILE STYLING
.dt-logo {display: none;}

body {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: rgb(207, 35, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;

    .mob-link-boxes {
        width: 30vw;
        display: flex;
    }

    .mob-link-box-right {
        justify-content: flex-end;
    }

    .link {
        text-decoration: none;

        h4 {
            color: rgb(219, 219, 219);
            text-decoration: none;
            margin: 0 3.5vw;
            font-size: 20px;
        }
    }
    
    .mob-logo {
        color: white;
        font-family: 'Lobster', cursive;
        font-size: 40px;
    }            
}

//TABLET STYLING
@media (min-width: 650px) {
    nav {
        .mob-logo {
           font-size: 50px;
        }
    }
}

//DESKTOP STYLING
@media (min-width: 1000px) {  
    nav {
        .dt-logo {
            display: block;
            color: white; 
            font-size: 50px;
            font-family: 'Lobster', cursive;
        }
        .mob-logo {
           display: none;
        }
    }
}
