//MOBILE STYLING
.dt-logo {display: none;}

body {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: rgb(207, 35, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    position: sticky;
    top: 0;

    .mob-link-boxes {
        width: 30vw;
        display: flex;
    }

    .mob-link-box-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
       
            .google-photo {
                margin-right: 1.2vw;
            }   
    }

    .link {
        text-decoration: none;

        .h4-house {
            margin: 0 3.5vw;
        }

        h4 {
            color: white;
            text-decoration: none;
            margin: 0 3.5vw 0 0;
            font-size: 30px;
            //background-color: yellow;
        }
    }
    
    .mob-logo {
        color: white;
        font-family: 'Lobster', cursive;
        font-size: 40px;
    }            
}

// Login/Logout STYLING
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
        //margin-right: 1.2rem;
        cursor: pointer;
        font-weight: 700;

        img {
            height: 2.3rem;
            width: 2.3rem;
            border-radius: 50%;
        }

        .log {
            color: white;
            font-size: 27px;
            margin: 0 3.5vw;
        }
    }
}


//TABLET STYLING
@media (min-width: 650px) {
    nav {
        .mob-logo {
           font-size: 50px;
        }
        .link {
            h4 {
                font-size: 40px;
            }
        }
    }
}

//DESKTOP STYLING
@media (min-width: 1000px) {  
    nav {
        .dt-logo {
            display: block;
            color: white; 
            font-size: 50px;
            font-family: 'Lobster', cursive;
        }
        .mob-logo {
           display: none;
        }
        .link {
            h4 {
                
            }
        }
    }
}
