* {
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: auto;
}

html {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(207, 35, 35);
}

::-webkit-scrollbar-track {
    background-color: yellow;
}

::-webkit-scrollbar-track-piece {
    background-color: white;
}